.media-view {
  container-type: inline-size;

  .v-player {
    position: relative;
    
    iframe {
      display: block;
      width: 100%;
      height: 100%;
      aspect-ratio: var(--aspect-ratio);
    }

    .controls {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      z-index: 1;

      button {
        background: var(--bg-color);
        width: 2.5rem;
        height: 2.5rem;
        position: sticky;
        bottom: 0;

        &:hover {
          background: color-mix(in lab, var(--bg-color), white 50%);
        }
        &:active {
          background: color-mix(in lab, var(--bg-color), black 50%);
        }
      }
    }

    &> img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      opacity: 1;
      transition: opacity 0.3s;
      z-index: 1;
    }
  }
}
